[Desktop Entry]
Version=1.0
Type=Application
Name=SteamDeck GAL Config
Comment=Configure Chinese environment for SteamDeck games
Icon=io.github.steamdeck_galgame
Exec=steamdeck-galgame %U
Path=/app
Terminal=true
Categories=Utility;Game;
Keywords=Chinese;Locale;Font;SteamDeck;
X-AppImage-Name=SteamDeck GAL Config
X-AppImage-Version=1.0.0
X-AppImage-Arch=x86_64
